<nav class="navbox" id="navbar">
    <!-- Logo -->
    <a class="nav-brand classic-color-1" id="nav-logo" href="#">Devlancer</a>
    <div class="box-beta-name">
        <span class="badge-beta">Beta</span>
    </div>
    <!-- Btn Mob -->
    
    </button>
    <!-- Links -->
    <div class="">
        
    </div>
    <!-- Mode Dark Btn -->
    <div class="sm-none">
        <img src="/img/light-purple.png" id="btn-dark" alt="Dark Mode" title="Dark Mode">
    </div>
</nav>